<ion-view view-title="{{falha.nome}}">
  <ion-content class="padding">

    <p>  Descrição: {{falha.descricao}} </p>
    <p ng-show="falha.latitude">  Coordenadas: {{falha.latitude}}, {{falha.longitude}} </p>
    <p ng-show="falha.endereco">  Endereço: {{falha.endereco}} </p>

    <img ng-show="falha.imagem" ng-src="data:image/jpeg;base64,{{falha.imagem}}" height="200px" />

  </ion-content>
</ion-view>
