<ion-view view-title="Câmera">
	<ion-content>	
	  <button class="button button-energized" ng-click="addImage()">
		  Add image
	  </button>

	  <br><br>

	  <ion-scroll>
		  <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
	  </ion-scroll>
	</ion-content>

</ion-view>