<ion-view view-title="Nova Falha">
  <ion-content>

	<form name="creationForm" novalidate=""> 

    <div class="list">
       
        <label class="item item-input">
          <span class="input-label">Descricao da falha</span>
          <input type="text" name="descricao" ng-model="descricao" ng-minlength="5" ng-maxlength="20" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Tipo de equipamento</span>
          <!-- http://www.undefinednull.com/2014/08/11/a-brief-walk-through-of-the-ng-options-in-angularjs/ -->
          <select ng-model="tipo_equipamento" ng-options="equip.$id as equip.nome for equip in equipamentos"></select>
        </label>

        <label class="item item-input">
          <span class="input-label">Latitude</span>
          <input type="text" ng-model="latitude" ></select>
        </label>

        <label class="item item-input">
          <span class="input-label">Longitude</span>
          <input type="text" ng-model="longitude" ></select>
        </label>

        <label class="item item-input">
          <span class="input-label">Endereço</span>
          <input type="text" ng-model="endereco" ></select>
        </label>        
 

		  <button class="button button-energized" ng-click="addImage()">Take picture</button>

		  <br><br>

      <img ng-show="imagem" ng-src="data:image/jpeg;base64,{{imagem}}" height="200px" />
         
    </div>     

    <!-- <button class="button button-full button-positive" type="submit"> Relatar falha </button> -->
    <button class="button button-full button-positive" ng-click="novaFalha(descricao, tipo_equipamento)"> Relatar falha </button>
      	         
	</form>   

  </ion-content>
</ion-view>
