<ion-view view-title="Falhas">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="falha in falhas" type="item-text-wrap" 
      href="#/tab/falhas/{{falha.$id}}">
        <h2>{{falha.descricao}}</h2>
        <p>{{falha.nome}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(falha)">
          Remover
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
