<ion-view view-title="Login">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="pass">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login(email, pass)">Login</button>
  </ion-content>
</ion-view>