<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Login Tab -->
  <ion-tab title="Login" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <!-- Falhas Tab -->
  <ion-tab title="Falhas" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/falhas">
    <ion-nav-view name="tab-falhas"></ion-nav-view>
  </ion-tab>

  <!-- nova falha tab -->
  <ion-tab title="Nova falha" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/nova-falha">
    <ion-nav-view name="tab-nova-falha"></ion-nav-view>
  </ion-tab>


  <!-- camera tab -->
  <ion-tab title="Câmera" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>


</ion-tabs>
